* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    padding: 20px 0 10px 30px;
}

.modal {
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-window {
    min-width: 400px;
    max-width: 800px;
    max-height: 80%;
    border-radius: 5px;
    border: 1px solid;
    background-color: #fff;
    position: relative;
}

.close-btn {
    height: 45px;
    width: 60px;
    margin: 10px 20px 10px;
    float: right;
}

.close-btn.close .modal {
    display: none;
}

.cross_btn {
    padding: 5px 10px;
    position: absolute;
    top: -40px;
    right: -35px;
}



